html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
}

.logo{
    text-align : center;
    background-color: #E6E6E6;

}
h1{
    background-color: #C4C4C4;
    color: #005677;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-style: normal;
    line-height: 60px;
}
h3{
    color: #005677;
    background-color: #C4C4C4;
    font-family: 'Times New Roman', Times, serif;
    line-height: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}
.list1{
    font-family: 'Times New Roman', Times, serif;
    font-style: mixed;
    font-size: 15px;
    line-height: 30px;
}
p{
    margin-left: 88px;
    margin-top: 4px;  
}
.cursiva{
      font-style: italic;
}
footer{
    background-color: #005670;
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
    line-height: 37px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
}

.ico{
    text-align : center;
} 
.ico1{
    text-align : center;   
} 